DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/iot_firegas

MQTT_HOST=localhost
MQTT_PORT=1883

MQTT_SENSOR_TOPIC=iot/firegas/sensor
MQTT_EVENT_TOPIC=iot/firegas/event
MQTT_DEVICE_TOPIC=iot/firegas/device
MQTT_COMMAND_TOPIC=iot/firegas/command
MQTT_CAMERA_TOPIC=iot/firegas/camera